@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  scroll-behavior: smooth;
  flex-direction: column;
}
::selection {
        color: #000;
        background: #fff;
}
                    /*{header navigation content}*/
header {
  height:10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 50px;
  position: static;
  background-color: black;
} 
.logo a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-weight: 800;
  font-size: 2.5em;
  font-family: 'Orbitron', sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navlink {
  margin: 0 10px;
    letter-spacing:0.1em;
  font-weight: 500;
  font-size: 1.2em;
  color: #787878;
  padding: 5px 10px;
  border-radius: 100px;
/*  transition: all 0.5s ease-in-out;*/
  text-decoration: none;
}
.navlink.active,
.navlink:hover {
  color: white;
}


/* Dark mode */ 
.Block {
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 100px;
  text-decoration: none;
}
.card_toggle {
  display: flex;
  width: 40px;
  height: 40px;
  position: relative;
  background: #323333;
  border-radius: 50%;
  text-decoration: none;
}
.card_toggle .bx {
  position: absolute;
  top:50%;
  left:50%;
    transform: translate(-50%,-50%);
}
.bxs-sun {
  color: #fff;
  font-size: 2em;
  visibility: hidden;
  opacity: 0;
}
.bxs-moon {
  color: #fff;
  font-size: 2em;
}
.bxs-sun #text {
display: none;
}

/*Dark*/

.is-dark {
  background: #121212;
}
.is-dark h1 {
  color: #fff;
}
.is-dark .About h1 {
  color: #fff;
}
.is-dark .About h2 {
  color: #fff;
}
.is-dark .About p {
  color: #fff;
}
.is-dark p {
  color: #fff;
}
.is-dark label {
  color: #fff;
}
.is-dark input {
  color: #fff;
  background: #121212;
}
.is-dark textarea {
  color: #fff;
  background: #121212;
}
.is-dark .bxs-sun {
  opacity:1;
  visibility: visible;
}
.is-dark .bxs-moon {
  opacity:0;
  visibility: hidden;
}
.is-dark .centered {
        background: rgba(0, 0, 0, 0.1);
        color: rgb(255, 255, 255);
}
.is-dark .container img {
     width:100%;
     height:100%;
     opacity: .4;
}
.is-dark iframe {
    filter: invert(100%);
}
.is-dark #About_logo a {
  color: white;
}
.is-dark #span a{
  color: black;
  background: white;
}
#span a{
    color:white;
    background:black;
    text-decoration: none;
}
                    /*{footer content}*/
footer {
    position: static;
    float: right;
    display: flex;
    width: 100%;
    min-height: 100px;
    background: black;
    justify-content: space-between;
}
.footer-title , .social-icons {
    font-size: 1em;
    font-weight: 400;
    padding:35px;
    color:white;
}
.social-icons a{
    font-size: 1em;
    padding: 0 12px 0 0;
    color:white;
}

                    /*{main content}*/
/*{Home content}*/
main {
    display: block;
    width: 100%;
    float: right;
    height: calc(100vh - 10%);
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container img {
     width:100%;
     height:100%;
     opacity: .9;
}
.centered {
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        text-align: center;
        left: 0;
        right: 0;        
        top: 45%; /* Adjust this value to move the positioned div up and down */
        background: rgba(255, 255, 255, 0.2);
        font-family: Arial,sans-serif;
        color: rgb(0, 0, 0);
        width: 100%;/* Set the width of the positioned div */
        font-size: 50px;
        font-weight: 500;
}

/*{About content}*/

.About {
     display: relative;
     flex-direction: column;
     justify-content: center;
     min-height: 100vh;
     padding: 25px;
     margin: 25px;
}
.About h1 {
    color:#3F444C;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 0.1rem;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    display: block;
}
.About h2 {
    padding: 10px 0;
    display: block;
    text-align: center;
    font-size: 2em;
}
.mainAbout {
    display:flex;
    flex-direction:row;
}
#FirstAbout {
    display:flex;
    flex-direction:column;
    padding: 20px;
    width: 50%;
    align-items: center;
}
#FirstAbout p {
    width: 50%;
    padding: 0;
}
#About_logo {
    width: 100%;
    height: 30%;
    align-items: center;
    text-align: center;
}
#About_img img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    opacity: .7;
}
#About_logo a {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-weight: 800;
    font-size: 8em;
    font-family: 'Orbitron', sans-serif;
    height:100%;
    align-items: center;
}
#About_img {
    width: 100%;
    height: 70%;
    align-items: center;
    text-align: center;
}
.mainAbout p {
    display: block;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    color: rgba(32, 32, 32, 0.7);
    font-weight: 500;
    padding: 20px;
    width: 50%;
    text-indent: 50px;
}


/*{Photos content}*/
#mainphotos {
    padding: .5%;
    /**/
}
#photos {
  opacity: .88;
  width: 100%;
}
#photo-gallery {
  list-style: none;
  display: block;
  width: 100%;
  text-align: center;
}
#photos img {
  width: 32.3%;
  height: 50%;
  float: left;
  display: block;
  margin: .5%;
  cursor: zoom-in;
}
#photos img:hover {
  opacity: 0.7;
}

/*{Contact content}*/

.Contact {
    padding: 25px;
    margin: 25px;
    min-height: 100vh;
}
.mainContact {
    display: flex;
    padding: 20px 0;
}
}
p, placeholder , input, textarea {
    font-family: 'Helvetica Neue', sans-serif;
    /**/
}
p {
    padding: 20px 0;
    /**/
}
h1 {
    color:#3F444C;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    padding: 8px 0;
    text-align: center;
}
form {
  width: 60%;
  position: relative;
  padding: 1rem 0;
  margin-right: 10px;
}
input, textarea, label {
    width: 70vw;
    display: block;
}
label {
    padding-bottom: 8px;
    /**/
}
textarea {
    height: 30vh;
    /**/
}
input::placeholder, textarea::placeholder {
    color: #bababa;
    /**/
} 
input, textarea {
    color: #010712;
    font-weight: 500;
    border: none;
    border-bottom: 2px solid #818386;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    outline: none;
    width: 100%;
}
h1, label, button, .description {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
}
button {
    text-transform: uppercase;
    font-weight: 300;
    background: #3B3636;
    color: white;
    width: 10rem;
    height: 2.25rem;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}  
button:active {
    opacity: 0.8;
    /**/
}
iframe {
  width: 40%;
  position: relative;
  margin-left: 10px;
}

/*{Media queries content}*/

@media screen and (max-width: 1010px) {
.mainAbout {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#FirstAbout {
    width: 100%;
}
.mainAbout p {
    width: 100%;
}
}
@media screen and (max-width: 950px) {
.mainContact {
  flex-direction: column;
}
form {
    width: 100%;
}
iframe {
    width: 100%;
}
}

@media screen and (max-width: 875px) {
header {
        padding: 0 10px;
        flex-direction: column;
        height: 20%;
}
.logo a {
        font-size: 3em;
        /**/
}
.navbar {
        width: 100%;
        /**/
}
.ContactUs {
  flex-direction: column;
}
#photos img {
  width: 49%;
}
#FirstAbout p {
    width: 100%;

}
}

@media screen and (max-width: 550px) {
#mainphotos {
    padding: 1%;
    width: auto;
}
#photos img {
    width: 98%;
    margin: 1%;
    /**/
}
header {
    padding:5px;
    /**/
}
.logo a {
        font-size: 3.5em;
        /**/
}
.navlink {
    margin: 0;
    /**/
}
.Block {
    margin: 0;
    /**/
}
.centered {
    left: 0;
    right: 0;
    top: auto;
}
footer {
    flex-direction: column;
    /**/
}
.footer-title {
    font-size: 1.2em;
    padding: 20px 5px 5px 5px;
    width: 100%;
    text-align: center;
    align-items: center;
}
.social-icons {
    font-size: 1.2em;
    padding: 5px 5px 20px 5px;
    width: 100%;
    text-align: center;
    align-items: center;
}
.social-icons a {
    font-size: 1.3em;
    padding: 0 10px 0 10px;
}
#About_logo a {
    font-size: 5em;
}
form {
    width: auto;
    position: relative;
    padding: 1rem 0;
}
.Contact {
    padding: 30px;
    margin: 0;
    /**/
}
.description {
    display: none;
    /**/
}
}

